nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(84, 0, 230);
}

nav a:hover{
    color: white;
    transition: 0.5s ease;
}

.noSidebar{
    right: -250px; 
    transition: left 0.5s ease;
}

.noSidebar li{
    display: none;
}

.noSidebar a{
    display: none;
}


.sidebar{
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.847);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    padding-left: 0px;
    transition: right 1s ease;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.sidebar:first-child li:hover{
    transition: 0.2s ease;
}

.sidebar li:hover{
    background-color: rgb(84, 0, 230);
    color: white;
    font-size: 17px;
    transition: 0.2s ease;
}

.sidebar svg:hover{
    fill: white;
    transition: 0.3s ease;
}

@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}